html(lang="en")
	head
		script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.0.min.js')
	body
		script(type='text/javascript', src='js/app.js')
		h1 Well Hello there
		button.btn(id="myButton") Get Me!