html(lang="en")
	head
		include includes/includes
	body
		h1 Well Hello there
		button.btn(id="listbtn") Get Me!
		br
		br
		form(id='testform')
			.form-group
				label(for='InputName1') Name
				input#InputName1.form-control(type='text', placeholder='Name')
			.form-group
				label(for='InputEmail1') Email address
				input#InputEmail1.form-control(type='email', placeholder='Enter email')
		button.btn.btn-default(id='form-submit' type='Submit') Submit