link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css') 
script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.0.min.js')
script(type='text/javascript', src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')

script(type='text/javascript', src='js/app.js')

